@{
    ViewBag.Title = "Startseite";
}

<div class="jumbotron">
    <h1>Hoshanot</h1>
    <p class="lead">Bestellen sie heute noch erstklassige Hoschanot. </p>
    @Html.ActionLink("Jetzt Bestellen","Products","Home",null, new { @class="btn btn-primary btn-lg" })
</div>

<div class="row"> 
    <div class="col-md-6">
        <h2>Legal (ohne חשש גזל)</h2>
        <p>
            Sie erhalten erstklasse Hoshanot ohne חשש גזל. Die Hoshanot werden in der Schweiz mit offizieller Erlaubnis der Stadt Zürich von einem Godoil geschnitten. Sie können sie die Bewilligung <a href="https://1drv.ms/b/s!Akviolb01UW1j1HAQSTi98gwDfD_ ">hier</a> ansehen.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Einfache Liefeung</h2>
        <p>Sie können sich die Hoschanot einfach nach hause senden lassen. Oder sie haben die Option, sich die Hoshanot ins lokale Beis Midrash senden zu lassen</p>
    </div>
</div>